* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    display: inline-block;

}
Menuitems{
    color: blue;
}
nav ul li {
    margin-right: 20px;
    text-align: center;
    color: aqua;
    display: inline-block;
}
nav ul li{
 color: blue; 
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: #SSS;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    flex-basis: 100%;
    padding-left: 50px 0;
    min-width: 100px;
    margin: 50px;
    transition: tranform 0.5s;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 8.5s;
}

.btn:hover {
    background: #563434;
}
.header {
    background: radial-gradient(#fff, #ffd6d6);
}
.header .row {
    margin-top: 70px;
}

.bttn {
    display: inline-block;
    background: #0000FF;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 8.5s;
}
.bttn:hover {
    background: #563434;
}
.categories {
    margin 70px 0;
}

}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    transition: tranform 0.5s;
}

.col-3:hover {
    transform: translateY(-5px);
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 100%;
    padding: 50px 0;
    min-width: 1000px;
    margin: 50px;
    transition: tranform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin; 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;

}

.title:after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 470px;
    transform: translateX();

}

h4 {
    color: #555;
    font-weight: normal;
    font-size: 20px;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*------Footer-----*/
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;

}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 .bttn {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu {
    width: 28px;
    margin-left: 20px;
    display: none;
}

.hotel-page {
    padding: 50px;
}

.hotel-page {
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
    background: grey-white;
    width: 400px;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.col-2 {
    padding-left: 50px;
}

.col-2 img {
    max-width: 500px;
    flex-basis: 100%;
    padding-left: 50px 0;
    min-width: 500px;
    margin: 50px;
    transition: tranform 0.5s;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 80px;
    display: inline-block;
}

.btnn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    height: 300px
    padding: 0 10px;
}

form input {
    width: 80%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
.form-container select{
    width: 100%;
}

form .btnn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: navy;

}

form .btnn:focus {
    outline: none;
}
.car-page {
    padding: 50px;
}

.car-page {
    background: radial-gradient(#fff, #ffd6d6);
}
.car-container{
    background: grey-white;
    width: 500px;
    height: 900px;
    position: relative;
    text-align: center;
    padding-top: 0 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.col-2{
     padding-left: 50px;
}
.col-2 img {
    max-width: 500px;
    flex-basis: 100%;
    padding-left: 1000px 0;
    min-width: 500px;
    margin: 50px;
    transition: tranform 0.5s;
}
}
.car-container span{
    font-weight: bold;
    padding: 10px 10px;
    color: #555;
    cursor: pointer;
    width: 900px;
    height: 1000px;
    display: inline-table;
}
}
.car-container form{
    max-width: 300px;
    height: 100px;
    padding: 0 10px;
}
.car-container form input{
    width: 70%;
    height: 50px;
    margin: 5px 0;
    padding-top:10px 0;
    border: 1px solid #ccc;
}
.btnn{
     display: inline-block;
}
form .btnn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: navy;
}
.flight-page {
    padding: 50px;
}
.flight-page {
    background: radial-gradient(#fff, #ffd6d6);
}
.flight-container {
    background: grey-white;
    width: 400px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.col-2 {
    padding-left: 50px;
}

.col-2 img {
    max-width: 500px;
    flex-basis: 100%;
    padding-left: 100px 0;
    min-width: 200px;
    margin: 50px;
    transition: tranform 0.5s;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 80px;
    display: inline-block;
}

.btnn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 10px;
}

.flight-container form input {
    width: 90%;
    height: 30px;
    margin: 5px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form select{
    width: 90%;
    height: 30px;
    border: 1px solid #ccc;
}

form .btnn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: navy;

}

form .btnn:focus {
    outline: none;
}
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.acform-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    transition: transform 0.5s;
    overflow: hidden;    
}
.acform-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 80px;
    display: inline-block;
    transition: transform 0.5s;
}
.form-btn{
    display: inline-block;
}
.acform-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}
.acform-container form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form.btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 0.1s;
}
.help-page{
    text-align: center;
    background: linear-gradient(rgba(0,0,0.5),rgba(0,0,50,0.5)),url(imgg/bing.jpg);
    background-size: cover;
    background-position: center;
   
}
.more-container{
    max-width: 1300px;
    height: 800px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
    
}
.more-container h1{
    font-size: 30px;
}
.more-container p{
    font-size: 15px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px; 
}
input{
    height: 45px;
}
form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}
.result{
    background: radial-gradient(#fff, #ffd6d6);
    width: 100%;
    text-align: center;
    margin: auto;
}
.details{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
/*----Media query for menu----*/
@media only screen and (max-width: 800px {
        nav ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: #333;
            width: 100%;
            overflow: hidden;
            transition: 0.5s;
        }

        nav ul li {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;

        }

        nav ul li a {
            color: #fff;
        }

        .menu {
            display: block;
            cursor: pointer;
        }
    }

    /*Media query for less than 600 screen size*/
    @media only screen and (max-width: 600px {
            .row {
                text-align: center;
            }

            .col-2, .col-3, col-4 {
                flex-basis: 100%;
            }
        }
